* {
  outline: none;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
}

ol, ul{
  padding-left: unset;
}

h1{
  font-size: 28px;
  color: #5f6368;
  font-weight: 600;
  margin: 0;
}

header{
  border-bottom: 1px solid #dadce0;
}

nav li{
  color: #5f6368;
  font-weight: 500;
}

nav li a:hover{
  background: #eeeeee;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #1a73e8;
  border-bottom: 2px solid #1a73e8;
  margin-bottom: -2px
}

h2{
  font-size: 3.2rem;
  font-weight: bold;
  color: #2f3133;
}

.seccionUno{
  text-align: center;
}

.seccionUno i{
  font-size: 50px;
  color: #2f3133;
}

.tengoLineas{
  display: grid;
  grid-template-columns: 40% 20% 40%;
  max-width: 500px;
}

.linea{
  background: #2f3133;
  font-size: 2px;
  color: #2f3133
}

.seccionUno p{
  font-size: 1.2rem;
  color: #5f6368;
}

.seccionDos{
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}

.seccionDos p{
  color: #5f6368;
}

.seccionDos a{
  border: 1px solid #dadce0;
  border-radius: 50px 50px 50px 50px;
  font-size: 18px;
  color: #5f6368;
  text-decoration: none;
}

.seccionDos a:hover{
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  color: #1a73e8;
  transition: 0.2s ease-in-out;
}

.seccionDos i{
 font-size: 22px;
}

.seccionTres h3{
  font-size: 22px;
  font-weight: 400;
  color: #5f6368;
  margin: 0;
  border-top: 1px solid #dadce0;
}

.seccionTres figure{
  border: 1px solid #dadce0;
  border-radius: 10px;
}

.seccionTres figure:hover{
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transition: 0.2s ease-in-out;
}

.seccionTres figure:hover h3{
  color: #1a73e8;
  transition: 0.2s ease-in-out;
}

.seccionCuatro{
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}

footer h3{
  color: #5f6368;
  font-size: 26px;
}

footer p{
  font-size: 22px;
}

footer i{
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5f6368;
}

footer i:hover{
  color: #1a73e8;
  transition: 0.2s ease-in-out;
}

label{
  display: none;
}

textarea{
  resize: none;
}

form .enviar{
  border-radius: 50px 50px 50px 50px;
  font-size: 18px;
  border: 1px solid #dadce0;
  background: none;
  color: #5f6368;
}

form .enviar:hover{
  color: #1a73e8;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transition: 0.2s ease-in-out;
}

.form-control{
  border-color: #dadce0;
}

@media only screen and (max-width: 992px) {
  header{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-light .navbar-toggler {
    border-color: #dadce0;
    color: #86b7fe;
}

.navbar-light .navbar-toggler:focus{
  color: #86b7fe;
}

  nav li a{
    text-align: center;
    border-top: 1px solid #dadce0;
    margin-left: -200px;
    margin-right: -200px;
    transition: 0.2s ease-in-out;
  }

  .navbar-collapse{
    padding-top: 20px;
  }

  .elFin{
    padding-bottom: 10px !important;
  }

  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    border-bottom: unset;
    background: none;
  }  
}

@media only screen and (max-width: 400px) {
  .seccionUno img{
    width: 100%;
  }
}